@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/Clash Display/ClashDisplay-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/Clash Display/ClashDisplay-Semibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/Clash Display/ClashDisplay-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/Clash Display/ClashDisplay-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/Clash Display/ClashDisplay-Extralight.otf")
    format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/Clash Display/ClashDisplay-Light.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik/AeonikTRIAL-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik/AeonikTRIAL-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Maison";
  src: url("/fonts/Maison/Maison_Neue_Bold.ttf") format("trueType");
  font-weight: 700;
}

@font-face {
  font-family: "Maison";
  src: url("/fonts/Maison/Maison_Neue_Book.ttf") format("trueType");
  font-weight: 500;
}
@font-face {
  font-family: "Maison";
  src: url("/fonts/Maison/Maison_Neue_Light.ttf") format("trueType");
  font-weight: 200;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-russo: var(--font-russo-one);
  --font-tomorrow: var(--font-tomorrow);
  --font-sankorika: var(--font-sankorika);
  --font-saira: var(--font-sanira);
  --font-clash: ClashDisplay;
  --font-aeonik: Aeonik;
  --font-maison: Maison;
  --color-main: #d2f65a;
  --color-gray: #f8f8f8;
  --color-gray-50: #191919;
  --color-gray-75: #5f5f5f;
  --color-gray-60: #a3a3a3;
  --color-gray-65: #525252;
  --color-orange: #fb432c;
  --color-orange-50: #ff591e;
  --color-black-50: #111111;
  --color-black-100: #0a0a0c;
  --color-gold: #c6a667;
  --color-accent: #e8dcc3;
  --color-white-50: #f6f5f2;
  --color-gray-55: #2e2e34;
}

@layer utilities {
  .mask-sides {
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
  }
  .galleryimg {
    transition: border 0.1s ease;
    border: 0px solid transparent;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply font-sans;
}
